# Zkopiruj tento soubor jako "keystore.properties" (bez .example) do slozky android/
# a dopln skutecne hodnoty. NIKDY tenhle soubor s vyplnenymi hesly nedavej do
# verejneho gitu ani ho nikomu neposilej - kdokoliv s nim muze vydavat appky
# tvarici se jako tvuj Tracer.

storeFile=/absolutni/cesta/k/tracer-release.keystore
storePassword=heslo-ke-keystore
keyAlias=tracer
keyPassword=heslo-ke-klici
